personalToken.txt
techvibe-k8s-kubeconfig.yaml
kubectl


cert-manager-namespace/secret-digitalocean-dns.yaml
terraform-k8s/*/terraform.tfstate
terraform-k8s/*/.terraform/
terraform-k8s/*/terraform.tfstate.backup
terraform-k8s/*/.terraform.lock.hcl
terraform-k8s/*/*.tfvars
terraform-k8s/kubernetes-config/kubernetes-config
terraform-k8s/terraform.tfstate
terraform-k8s/terraform.tfstate.*
terraform-k8s/.terraform/
terraform-k8s/terraform.tfstate.backup
terraform-k8s/.terraform.lock.hcl
terraform-k8s/*.tfvars

terraform-k8s/techvibe-k8s-*.yaml

techvibe-namespace/.env
